$color--lightgray: #d9d9d9;
$color--gray: #9c9c9c;
$color--orange: #f48915;
$color--darkGrey: #464d53;
$color--caloryCard: #656565;
$color--planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
$color--appColor: #3c3f45;

$color--white: #fff;
$color--black: #000;

// * FONT SIZE
$font-size--default: 1.6rem;
